Image_Downloader/.env
Image_Downloader/suppliers/**/data
Image_Downloader/suppliers/**/.cache
Image_Downloader/suppliers/**/images
Image_Downloader/suppliers/**/log*
Image_Downloader/suppliers/**/*zip
Image_Downloader/suppliers/**/*txt
Image_Downloader/__pycache__/
.vscode/
Image_Downloader/__pycache__/
Image_Downloader/backend/__pycache__/
Image_Downloader/backend/poonto/__pycache__/
Image_Downloader/suppliers/__pycache__/
Image_Downloader/suppliers/estia/__pycache__/
client.py
test.py
