**/__pycache__
**/*.zip
**/*.txt
**/images
**/.cache
**/data
.vscode
Image_Downloader/app.py
Image_Downloader/manage.py
Image_Downloader/controller
app.py
manage.py
artelibre.py
client.py
estia.py
code.sh
gui.py
kentia.py
logs.txt
process.py
script.py
server.py
vamvax.py